<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" 
		style="background-image: url({{ image }});background-size: 100% 100%;">
	<h2 class="btn2 flex-c-m txt5 ab-c-m size7" >
		{{ title }}
	</h2>
</section>
