<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Le Bateau Ivre
			{% endblock %}
		</title>
		{% block stylesheets %}
			{% include "app/fragments/_stylesheet.html.twig" %}
		{% endblock %}
	</head>

	<body class="animsition">
		{% block header %}
			{% include "app/fragments/_header.html.twig" %}
		{% endblock %}


		{% block body %}{% endblock %}

		{% block footer %}
			{% include "app/fragments/_footer.html.twig" %}
		{% endblock %}


		{% block javascripts %}
			{% include "app/fragments/_script.html.twig" %}
		{% endblock %}

	</body>
</html>

